:root {
    --app-bg-color: #282c34;
    --app-text-color: white;
    --app-text-color-minus-1: black;

    --app-default-bottom-margin: 2rem;
}


.AppContainer {
    background: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    background-color: var(--app-bg-color);
    text-align: center;
    outline: white solid 2px;
    width: 100%;
    max-width: 120vh;
}

.App * {
    color: var(--app-text-color);
}

.App > * {
    margin-bottom: var(--app-default-bottom-margin);
}

.App button {
    color: var(--app-text-color-minus-1);
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App > header,
.App > footer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);

    color: var(--app-text-color);
}

.App > footer {
    height: 10vh;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*region Row*/

.Row {
    display: flex;
    flex-direction: row;
}

.Row-Reverse {
    flex-direction: row-reverse;
}

.HeightBasedRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
}

.RowItemContainer {
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}


/*endregion*/

/*region GameStateDisplayArea*/

.GameStateDisplayArea {
    justify-content: space-evenly;
}

.BigNumberDisplay {
    /*font: bold 1.2rem normal;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.BigNumberDisplay > .Label {
    font-size: 1em;
    font-weight: normal;
}

.BigNumberDisplay > .Value {
    font-family: monospace;
    font-weight: bold;
    font-size: 3em;
}

.TimeLeft {
    font-size: 2em;
}

/*endregion*/

/*region Word Entry */

.WordEntryControls {
    /*display: flex;*/
    /*flex-direction: row;*/
    justify-content: space-between;
    margin-bottom: 2rem;
}

.WordEntryArea,
.ActiveTilesRow,
.InactiveTilesRow {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.WordSubmissionFeedbackDisplay {
    justify-self: flex-start;
    text-align: start;
    font-size: 2em;
    height: 1.2em;
}

/*endregion*/

/*region Tiles*/

.TileSpace {
    background-color: #015555;
    outline: white solid 2px;
}

.Tile,
.TileSpace {
    border-radius: 5%;
}

.Tile {
    height: 100%;
    background: #eee3cd;

    text-align: center;
    color: #301905;

    user-select: none;

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

/*endregion*/

/*region Square*/

.SquareContentContainer {
    display: grid;
}

.SquareContentContainer > * {
    grid-area: 1 / 1 / 2 / 2;
}

.HeightBasedSquare {
    max-width: 50px;
    /*height: 50%;*/
}

/*endregion*/


